@media (min-width: 320px) {
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
  /* ----------section2---------- */
  .head-link {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding-left: 0;
    margin: 0;
    gap: 72px;
  }
  .head-list {
    margin: 0;
    padding: 0;
    max-width: 288px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  .heading-link {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  }

  .heading-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .head-link-icon {
    display: none;
  }

  /* ------------------------- */
  /* -------section3---------- */
  .caption {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    pad: 96px 79px 72px;
    margin-bottom: 72px;
  }
  .box-x {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    padding-left: 0;
    margin: 0;
  }
  .box-list {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    margin: 0px;
    padding: 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    gap: 72px;
  }

  .box-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  }
  .box-heading-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding-bottom: 8px;
  }
  .box-heading-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
  }
  .box-icon-icon {
    width: 40px;
    height: 40px;
  }
  .box-one-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-one {
    fill: #f4f4fd;
  }
  .box-one-icon:hover {
    background-color: #404bbf;
  }

  .box-one-icon:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 15px;
    width: 768px;
  }
  /* ----------section2---------- */

  .list {
    gap: 24px;
  }
  .head-list {
    margin: 0;
    padding: 0;
    width: calc((100% - 24px) / 2);
  }
  .heading {
    text-align: left;
  }
  /* ------------------------- */
  /* -------section3---------- */
  .box-list {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    padding: 0 15px;
    width: 1158px;
  }
  /* ----------section2---------- */
  .head-link {
  }

  .list {
    gap: 24px;
  }
  .head-list {
    width: calc((100% - 72px) / 4);
  }

  .heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
  }

  .heading-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  .head-link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    max-width: 264px;
  }
  /* ------------------------- */
  /* -------section3---------- */
  .box-list {
    width: calc((100% - 72px) / 4);
  }
  .box-x {
    gap: 24px;
  }
}
