@media (min-width: 320px) {
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 320px;
  }
  /* ----------section2---------- */
  .head-link {
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding-left: 0;
    margin: 0;
    gap: 72px;
  }
  .head-list {
    margin: 0;
    padding: 0;
    /* width: calc((100% - 32px) / 1); */
    max-width: 288px;
    height: 120px;
  }

  .heading-link {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  }

  .heading-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .head-link-icon {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* ------------------------- */
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .list {
    gap: 24px;
  }
  .head-list {
    margin: 0;
    padding: 0;
    width: calc((100% - 24px) / 2);
    max-width: 356px;
    height: 120px;
  }
  .heading {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;px
    padding-top: 120px;
    padding-right: 120px;
  }
  .head-list {
    margin: 0;
    padding: 0;
    width: calc((100% - 72px) / 4);
  }
  .head-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
 .heading {
   font-weight: 500;
  font-size: 20px;
 }
.heading-text {
 font-weight: 400;
}
}
